.button {
    padding: 10px;
    margin: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    background: linear-gradient(to right, #ec4899, #f97316)
  }
  
  button.correct {
    background: green;
  }
  
  button.incorrect {
    background: red;
  }
  .button.selected{
    border: 2px solid #0066ff;
  }